@charset "UTF-8";

.auto{
	overflow: auto;
}
.month-container {
}
table tr td{
	width:10px;
}
#yearlyView{
	width: 100%;
	height: 100%;
	position: relative;
}


#yearlyView_month_container .yearlyView_month{
	width: 286px;
	height: 170px;
	border: 1px solid #DCDCDC;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 3px 2px 4px -1px rgba(0,0,0,.06);
}
#yearlyView_month_container .yearlyView_month .body{
	height: 115px;	
	overflow: auto;
}
.yearlyView_month_monthlyPlan .monthly_completed_on{
	display: none;
}
#yearlyView #yearlyView_header{
	border-bottom: 1px solid #DCDCDC;
	height: 80px;
	position: absolute;
	width: 100%;
	background-color: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}
#yearlyView_header #yearlyView_header_title{
    padding-top: 35px;
    padding-left: 40px;
    font-size: 30px;
    box-sizing: border-box;
}
#yearlyView_body{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	box-sizing: border-box;
	overflow: auto;
}
#yearlyView_month_container{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.yearlyView_month .header{
	height: 30px;
	border-bottom: 1px solid #DCDCDC;
}
.yearlyView_month .header .header_text{
	padding: 10px;
	box-sizing: border-box;
}
#yearlyView_month_container .body_padding{
	padding: 0px 10px 0px 10px;
}

#yearlyView_month_container .yearlyView_month_monthlyPlan{
	padding: 10px 0px 0px 0px;
	display: flex;
}
#yearlyView_month_container .yearlyView_month_monthlyPlan img{
	width: 13px;
    padding-top: 1.5px;
    box-sizing: border-box;
}

#yearlyView_month_container .monthly_title{
	font-size: 14px;
    margin-left: 5px;
    padding-top: 2.5px;
}
#yearlyView_month_container .monthly_title_container{
	cursor: pointer;
	width: 100%;
}

#yearlyView_month_container .monthly_part_add img{
	margin-left: 10px;
}
#yearlyView_month_container .yearlyView_month_monthlyPlan{
	position: relative;
}
#yearlyView_month_container .monthly_importance{
	border-radius: 5px;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 2px;
	top: 11px;
}
#yearlyView_month_container .header_text{
	font-size: 13px;
}
#yearlyView_header_search{
	margin-right: 45px;
	display: flex;
	margin-top: 37px;
}
#yearlyView_search{
	display: flex;
	border: 2px solid rgb(223, 225, 230);
	border-radius: 4px;
	height: 20px;
}
#yearlyView_header_arrow{
	display: flex;
	margin-left: 10px;
	margin-top: -3px;
}
#yearlyView_header_arrow img{
	width: 30px;
	cursor: pointer;
}
#yearlyView_search #yearlyView_search_year{
	border: none;
	margin-top: 2.3px;
	width: 30px;
	padding-left: 10px;
}
#yearlyView_search #yearlyView_search_year:focus{
	outline:none;
}
#yearlyView_search_year_button{
	border: none;
	background-color: white;
	width: 25px;
	height: 20px;
}
#yearlyView_search_year_button img{
	width: 15px;
	padding-top: 1px;
	filter: opacity(.4) drop-shadow(0 0 0 #6d6d6d);
}
