@charset "UTF-8";

.auto{
	overflow: auto;
}
.month-container {
}
table tr td{
	width:10px;
}

#yearlyView_month_container .yearlyView_month{
	width: 200px;
	height: 200px;
	border: 1px solid black;
}
#yearlyView_month_container .yearlyView_month .body{
	height: 80px;
	overflow: auto;
}
.yearlyView_month_monthlyPlan .monthly_completed_on{
	display: none;
}



