@charset "UTF-8";
@import "common/layout.css";
@import "common/popUpForm.css";
@import "absolutevalue/absoluteValueList.css";
@import "goal/goalList.css";
@import "yearlyplan/popUp_yearlyPlan_view.css";
@import "yearlyplan/yearlyPlanList.css";
@import "monthlyplan/monthlyPlanList.css";
@import "task/weeklyTaskList.css";

body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html,body {
	width: 100%;
	height: 100%;
}