@charset "UTF-8";

#monthlyView{
	width: 100%;
	height: 100%;
	position: relative;
}
#monthlyView_header{
	height: 80px;
	border-bottom: 1px solid #DCDCDC;
	position: absolute;
	width: 100%;
	background-color: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}
#monthlyView_header_title{
	padding-top: 35px;
	padding-left: 40px;
	font-size: 30px;
	box-sizing: border-box;
}
#monthlyView_body{
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 80px;
	box-sizing: border-box;
}
#monthlyView_body_left{
	width: 20%;
    border-right: 1px solid #DCDCDC;
    background-color: #f7f7f7;
    position: relative;
}
#monthlyView_body_left .monthlyView_body_left_header{
	position: absolute;
	background-color: #f7f7f7;
	height: 36px;
	width: 100%;
}
#monthlyView_body_left_header_title{
	padding: 10px;
}
#monthlyView_body_left_add_button img{
	margin-left: 7px;
}
#monthlyView_body_left_body{
	height: 100%;
	overflow: auto;
	padding-top: 36px;
	box-sizing: border-box;
}
#monthlyView_body_left_body .monthlyView_body_left_padding{
	padding: 0px 10px 10px 10px;
	box-sizing: border-box;
}
#monthlyView_body_left_body .monthlyView_monthlyPlan {
	display: flex;
}
#monthlyView_body_left_body .monthlyView_monthlyPlan .monthly_title{
	font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    padding: 2.7px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 6px;
}
#monthlyView_body_left_body .monthlyView_monthlyPlan img{
	width: 11px;
	padding-top: 2.5px;
}
#monthlyView_body_left_body .monthly_completed_on{
	display: none;
}
#monthlyView_body_left_body .monthly_title_container{
	width: 100%;
}

#monthlyView_body_right{
	width: 100%;
	height: 100%;
	overflow: auto;
}
#monthlyView_body_right .monthlyView_body_right_padding{
	height: 600px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#monthlyView_body_right .week_container{
	width: 45%;
    height: 170px;
    border: 1px solid #DCDCDC;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 3px 2px 4px -1px rgba(0,0,0,.06);
}

#monthlyView_body_left_add_button{
	cursor: pointer;
}
#monthlyView_body_left_add_button img{
	border-radius: 5px;
}
#monthlyView_body_right .week_container .header{
	padding: 4px 4px 4px 7px;
	
}

#monthlyView_body_right .weeklyPlan_container{
	height: 20px;
}
#monthlyView_body_right .weekly_text{
	font-size: 12px;
}
#monthlyView_body_right .weeklyPlan_container img{
	width: 11px;
    padding-top: 3px;
    box-sizing: border-box;
}
#monthlyView_body_right .week_container .weekly_title{
	padding-top: 4px;
    margin-left: 6px;
    cursor: pointer;
    width: 100%;
}
#monthlyView_body_right .weekly_part_add{
	cursor: pointer;
}

#monthlyView_header_search{
	margin-right: 45px;
	display: flex;
	margin-top: 37px;
}
#monthlyView_search{
	display: flex;
	border: 2px solid rgb(223, 225, 230);
	border-radius: 4px;
	height: 20px;
}
#monthlyView_header_arrow{
	display: flex;
	margin-left: 10px;
	margin-top: -3px;
}
#monthlyView_header_arrow img{
	width: 30px;
	cursor: pointer;
}
#monthlyView_search #monthlyView_search_month{
	border: none;
	margin-top: 2.3px;
	width: 50px;
	padding-left: 10px;
}
#monthlyView_search #monthlyView_search_month:focus{
	outline:none;
}
#monthlyView_search_month_button{
	border: none;
	background-color: white;
	width: 25px;
	height: 20px;
}
#monthlyView_search_month_button img{
	width: 15px;
	padding-top: 1px;
	filter: opacity(.4) drop-shadow(0 0 0 #6d6d6d);
}

