@charset "UTF-8";

.project .project_header{
	border-bottom: 1px solid #DCDCDC;
}
.project_header .project_title{
	height: 90px;
	padding-top: 35px;
	padding-left: 40px;
	font-size: 30px;
	box-sizing: border-box;
}
.project .project_body{
	display: flex;
}
.project_body .project_left{
	width: 20%;
	height: 600px;
	border-right: 1px solid #DCDCDC;
	background-color: #f7f7f7;
}
.project_body .project_right{
	width: 80%;
}
.project_body .project_List{
	height: 600px;
	padding: 10px 5px 10px 10px;
}
.project_List .project_List-text{
	font-size: 15px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	padding: 3px 0px;
	/* ... */
	text-overflow: ellipsis;
	/* ... */
	/* 한줄로 */
	white-space: nowrap;
	/* 한줄로 */
}
.project_List-text img{
	width: 10px;
}
.project_List .project_button{
	cursor: pointer;
}
.project_List .project_add img:hover{
	background-color: #e2e2e2;
	border-radius: 5px;
}
.project_right .project_detail{
	height: 100%;
	box-sizing: border-box;
}
.project_detail .project_detail_header{
	margin-left: 20px;
	border-bottom: 1px solid #DCDCDC;
	height: 40px;
	display: flex;
	position: relative;
}
.project_detail_header .project_detail_title{
	padding-top: 10px;
	font-size: 17px;
	font-weight: 500;
	box-sizing: border-box;
	margin-left: 10px;
	width: 100%;
	cursor: pointer;
}
.project_detail_title .project_detail_text{
}
.project_detail_title .project_detail_class{
	font-size: 10px;
	color: gray;
}
.project_detail_header .project_detail_completed{
	padding-top: 10px;
	display: none;
	cursor: pointer;
}
.project_detail_header .project_detail_startDate{
	position: absolute;
	right: 150px;
	top: 14px;
	font-size: 14px;
	color: gray; 
}
.project_detail_header .project_detail_limitDate{
	position: absolute;
	right: 50px;
	top: 14px;
	font-size: 14px;
	color: gray; 
}
.project_detail_header .project_detail_importance{
	border-radius: 5px;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 9px;
}

.project_detail_completed img{
	width: 15px;
}
.project_detail_body .project_yearly{
	margin-left: 20px;
	border-bottom: 1px solid #DCDCDC;
	height: 30px;
	display: flex;
	position: relative;
}
.project_yearly .project_yearly_viewer{
	padding-top: 7px;
	cursor: pointer;
}
.project_yearly .project_yearly_viewer img{
	width: 15px;
}
.project_yearly .project_yearly_completed{
	padding-top: 7px;
	cursor: pointer;
	margin-left: 5px;
}
.project_yearly .project_yearly_completed img{
	width: 15px;
}
.project_yearly .project_yearly_title{
	padding-top: 4px;
	font-size: 14px;
	font-weight: 400;
	box-sizing: border-box;
	margin-left: 10px;
	width: 100%;
	cursor: pointer;
}
.project_yearly_title .project_yearly_text{}
.project_yearly_title .project_yearly_class{
	font-size: 10px;
	color: gray;
}
.project_yearly .project_yearly_startDate{
	position: absolute;
	right: 150px;
	top: 10px;
	font-size: 11px;
	color: gray; 
	font-family: 'Cutive Mono', monospace;
}
.project_yearly .project_yearly_limitDate{
	position: absolute;
	right: 50px;
	top: 10px;
	font-size: 11px;
	color: gray; 
	font-family: 'Cutive Mono', monospace;
}
.project_yearly .project_yearly_importance{
	border-radius: 5px;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 5px;
}

/*update project form.*/
.project_update .project_form{}
.project_update .project_container{
	margin-bottom: 30px;
}
.project_update .project_form_title{
	color: #66738A;
	font-size: 15px;
}
.project_update .project_importance{
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	width: 596px;
}
.project_update .project_content{
	width: 98%;
	height: 100px;
	resize: none;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}  
.project_update .project_title{
	width: 98%;
	resize: none;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}
.project_update input[type='submit']{
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background-color: #3B3B3B;
	cursor: pointer;
	color: white;
	appearance: none;
	box-sizing: border-box;
	padding-top: 3px;
	border: none;
	text-decoration: none;
}
.project_update input[type='submit']:hover {
	background-color: #4f4f4f;
}
.project_update input[type='submit']:active {
	background-color: #7c7c7c;
}
.project_update .project_submit{
	float: left;
}
.project_update .cancle{
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background-color: #3B3B3B;
	cursor: pointer;
	color: white;
	appearance: none;
	box-sizing: border-box;
	border: none;
	text-decoration: none;
	margin-left: 80px;
	
}	
.project_update .cancle:hover {
	background-color: #4f4f4f;
}
.project_update .cancle:active {
	background-color: #7c7c7c;
}
.project_update .cancle .cancle_text{
	padding-top: 7px;
	padding-left: 25px;
	color: white;
	font-size: 13px;
	box-sizing: border-box;
}
/*update project form.*/

/*add project form.*/
.project_add_form .project_form{}
.project_add_form .project_container{
	margin-bottom: 30px;
}
.project_add_form .project_form_title{
	color: #66738A;
	font-size: 15px;
}
.project_add_form .project_importance{
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	width: 596px;
}
.project_add_form .project_content{
	width: 98%;
	height: 100px;
	resize: none;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}  
.project_add_form .project_title{
	width: 98%;
	resize: none;
	background-color: #f7f7f7;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}
.project_add_form input[type='submit']{
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background-color: #3B3B3B;
	cursor: pointer;
	color: white;
	appearance: none;
	box-sizing: border-box;
	padding-top: 3px;
	border: none;
	text-decoration: none;
}
.project_add_form input[type='submit']:hover {
	background-color: #4f4f4f;
}
.project_add_form input[type='submit']:active {
	background-color: #7c7c7c;
}
.project_add_form .project_submit{
	float: left;
}
.project_add_form .cancle{
	width: 70px;
	height: 25px;
	border-radius: 3px;
	background-color: #3B3B3B;
	cursor: pointer;
	color: white;
	appearance: none;
	box-sizing: border-box;
	border: none;
	text-decoration: none;
	margin-left: 80px;
	
}	
.project_add_form .cancle:hover {
	background-color: #4f4f4f;
}
.project_add_form .cancle:active {
	background-color: #7c7c7c;
}
.project_add_form .cancle .cancle_text{
	padding-top: 7px;
	padding-left: 25px;
	color: white;
	font-size: 13px;
	box-sizing: border-box;
}
/*add project form.*/
